
<md-content style="height:100%;background: #5f2c82;background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); background: linear-gradient(to right, #49a09d, #5f2c82);" flex="100" layout="column" layout-align="center center">
	<div ng-hide="password.successMsg" style="padding:2%">
	    <form name="resetForm" ng-submit='password.sendPassword(resetData);' layout="column">
	        <md-input-container>
	            <label>Username</label>
	            <md-icon class="md-default-theme" class="material-icons">&#xE7FD;</md-icon>
	            <input ng-model="password.resetData.username" type="email" name="email" class="validate" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
	            <md-tooltip md-direction="bottom">Enter Your registered email id</md-tooltip>
	            <div ng-messages="resetForm.email.$error" role="alert" multiple>
	                <div ng-message="required" class="my-message">This field is required</div>
	                <div ng-message="pattern" class="my-message">Please enter valid email address</div>
	            </div>
	            <div ng-show="password.errorMsg" ng-messages="password.errorMsg" role="alert">
	            	<p>{{password.errorMsg}}</p>
	            </div>
	        </md-input-container>
	        <div layout="row" md-theme="altTheme" ng-hide="password.loader">
	            <md-button type="submit" class="md-raised md-warn" flex="100">Request</md-button>
	        </div>
	        <div layout="row" layout-align="center center" style="margin-top:10px">
	        	<p><a style="color: #FFF" ng-href="/login" >Go to Login Page</a></p>
	        </div>
	        <div layout="row" md-theme="altTheme" layout-align="center center" ng-show="password.loader">
	            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
	        </div>
	    </form>
	</div>
	<div class="show-hide-message" ng-show="password.successMsg">
	   <div>{{password.successMsg}}</div>
	   <md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</md-content>