


<div layout="column" layout-fill ng-if="pageloaded==true">
  <md-content>
    <div style="padding: 1%" ng-if="managePatient.showOnPatientDetails == false">
        <div layout=row class="md-headline" > List of Patients </div>
        <div layout=row class="md-headline" > &nbsp </div>
        <div layout=row  layout-wrap ng-hide="nopatient">
            <md-input-container class="md-icon-float md-block" flex="100" flex-sm="100" flex-gt-sm="50">
                <md-radio-group  aria-label="filter" ng-model="patientstatus" name="patient" layout="row">
                    <md-radio-button value="">All</md-radio-button>
                    <md-radio-button value="active"> Active </md-radio-button>
                    <md-radio-button value="discharged">Discharged</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex="100" flex-sm="100"  flex-gt-sm="50">
                <label>Search Patient</label>
                <md-icon class="md-default-theme" class="material-icons">&#xE8B6;</md-icon>
                <input ng-model="patientSearch" type="text">
            </md-input-container>
        </div>
        <div ng-show="nopatient" layout="row" layout-fill layout-align="center center">
           Add a patient to start with !
       </div>
       <md-grid-list  md-cols="6" md-cols-sm="18" md-cols-md="18" md-cols-gt-md="24" md-cols-gt-lg="30" md-row-height-md="1:1.2" md-row-height-gt-md="1:1.2" md-row-height="2:2" md-gutter="2%" >
        <md-grid-tile style="border-radius: 4px; overflow:hidden; box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);" class="alertedgrid" id="alerted"  md-colspan="6"  ng-repeat="patient in patients | filter:{patientstatus: patientstatus} | filter:patientSearch" md-rowspan="5">
            <div ng-if="patient.patientstatus=='active' || patient.patientstatus==''"  style="width:100%;height: 100%" layout="column" layout-align="center stretch" id="patientcard">
                <div flex="100" layout="row" style="color:#CCCCCC;background: #616161" layout-align="center center" class="md-title">{{patient.patientname}}</div>
                <div flex="100" layout="row" layout-align="center center" style="color:#EEEEEE;background: #424242" class="md-body-2">{{patient.bedname}}</div>
                <div  flex="100" layout="row" layout-align="center center" style="color:#fcfcfc;background: #616161">
                    <md-button class="md-no-style md-button md-ink-ripple md-clickable" layout="row" layout-align="center center" layout-padding flex="50" style="border-right: 1px solid #424242;height: 100%" class="md-body-1" layout="row" layout-align="center center" ng-click="showEditPatient($event,patient);">
                        <md-icon class="material-icons" style="border:1px dashed rgba(255,255,255,.2);border-radius:1em;margin:0px;color:rgb(76,175,80);transform:scale(1);padding:.3em;font-size:1em;font-weight:bold;">mode_edit</md-icon>
                        <div>Details</div>
                    </md-button>
                    <md-button class="md-no-style md-button md-ink-ripple md-clickable" layout="row" layout-align="center center" layout-padding flex="50" style="height: 100%" class="md-body-1" layout="row" layout-align="center center" ng-click="managePatient.showConfirmdischargePatient($event,patient);">
                        <md-icon class="material-icons md-warn" style="border:1px dashed rgba(255,255,255,.2);border-radius:1em;margin:0px;transform:scale(1);padding:.3em;font-size:1em;font-weight:bold;">&#xE5CD;</md-icon>
                        <div>Discharge</div>
                    </md-button>
                </div>  
                <div flex="100" layout="row" style="color:#cccccc;background: #424242" layout-align="center center" style="margin:0px;">
                    <md-button  class="md-no-style md-button md-ink-ripple md-clickable" layout="row" layout-align="center center" layout-padding style="color:rgb(230,230,230);width: 100%;height:100%;" class="md-body-1"ng-click="showPatientDetails(patient);" class="md-no-style md-button md-ink-ripple md-clickable">
                        <md-icon class="material-icons" style="border:1px dashed rgba(255,255,255,.2);border-radius:1em;margin:0px;color:rgb(76,175,80);transform:scale(1);padding:.3em;font-size:1em;font-weight:bold;">remove_red_eye
                        </md-icon>
                        <div>Patient History</div>
                    </md-button>
                </div>
            </div>
            <!-- card for discharged patients -->
            <div ng-if="patient.patientstatus=='discharged' || patient.patientstatus==''"  style="width:100%;height: 100%" layout="column" layout-align="center stretch" id="patientcard">
                <div flex="100" layout="row" style="color:#CCCCCC;background: #616161" layout-align="center center"  class="md-title">{{patient.patientname}}</div>
                <div flex="100" layout="row" style="color:#cccccc;background: #424242" layout-align="center center" style="margin:0px;">
                    <div  class="md-no-style md-button md-ink-ripple md-clickable" layout="row" layout-align="center center" layout-padding style="color:rgb(230,230,230);width: 100%;height:100%;" class="md-body-1" ng-click="showPatientDetails(patient);" class="md-no-style md-button md-ink-ripple md-clickable">
                        <md-icon class="material-icons" style="border:1px dashed rgba(255,255,255,.2);border-radius:1em;margin:0px;color:rgb(76,175,80);transform:scale(1);padding:.3em;font-size:1em;font-weight:bold;">remove_red_eye
                        </md-icon>
                        <div>Patient History</div>
                    </div>
                </div>
                <div flex="100" layout="row" style="color:#cccccc;background: #616161" layout-align="center center" style="margin:0px;">
                    <md-button  class="md-no-style md-button md-ink-ripple md-clickable" layout="row" layout-align="center center" layout-padding style="color:rgb(230,230,230);width: 100%;height:100%;" class="md-body-1" ng-click="showreadmittPatient($event,patient);" class="md-no-style md-button md-ink-ripple md-clickable">
                        <md-icon class="material-icons" style="border:1px dashed rgba(255,255,255,.2);border-radius:1em;margin:0px;color:rgb(76,175,80);transform:scale(1);padding:.3em;font-size:1em;font-weight:bold;">add
                        </md-icon>
                        <div>Admit</div>
                    </md-button>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
    </div>


    <div ng-if="managePatient.showOnPatientDetails == true">
        <md-button class="md-raised" ng-click="backToView();">
            <md-icon class="material-icons" >keyboard_return</md-icon>
        </md-button>
        <div layout="column" style="overflow:hidden;background: #ffffff;border-radius: 4px;
              box-shadow: 0px 0px 2px 0px rgba(117,117,117,1);margin-top: 2em">
              <div layout="row" layout-align="start center" layout-padding layout-fill style="background: rgba(0,0,0,.1);margin-bottom: 2em">
                  <div class="md-body-2">Personal Details</div>
              </div>
            <div layout="row" layout-align="center center" layout-padding="">
                <div flex="33">Patient Name: {{patientdetails[0].patientname}}</div>
                <div flex="33">Sex: {{patientdetails[0].gender}}</div>
                <div flex="33">Age: {{patientdetails[0].patientage}}</div>
                <div flex="33">Weight: {{patientdetails[0].patientweight}} Kg</div>
            </div>
            <div layout="row" layout-align="center center" layout-padding="">
                <div ng-if="patientdetails[0].patientstatus == 'active'" flex="33">Status: {{patientdetails[0].patientstatus}}</div>
                <div ng-if="patientdetails[0].patientstatus == 'discharged'" flex="33">Status: {{patientdetails[0].dischargedon}}</div>
                <div flex="33">Doctor: {{patientdetails[0].doctorname}}</div>
                <div flex="33">Admitted On: {{patientdetails[0].admittedon | date}}</div>
            </div>
            <div layout="row" layout-align="start center" layout-padding layout-fill style="background: rgba(0,0,0,.1);margin-bottom: 2em">
                <div class="md-body-2">Infusion Details</div>
            </div>
            <div ng-repeat="medication in patientdetails[0]._medication">
                <div layout="row" layout-padding="">
                    <div flex="33">Medicine Name : {{medication.medicinename}}</div>
                    <div flex="33">Rate : {{medication.medicinerate}}</div>
                    <div flex="33">Volume : {{medication.medicinevolume}}</div>
                </div>
                <div ng-repeat="infusion in medication._infusionhistory">
                    <md-button class="md-no-style md-button md-ink-ripple md-clickable" layout-padding="" layout="row" layout-align="start center" layout-padding layout-fill style="background: rgba(0,0,0,.5);margin-bottom: 2em" ng-click="showInfusionDetails(infusion._id,toggleView);">
                             Infusion Details
                             <md-tooltip>Click to see details</md-tooltip>
                    </md-button>
                    <div id="{{infusion._id}}" style="display:none">
                        <div layout="row" layout-padding="">
                            <div flex="33">Date : {{infusion.infdate | date}}</div>
                            <div flex="33">Infusion Start time: {{infusion.infstarttime}}</div>
                            <div flex="33">Infusion End time: {{infusion.infendtime}}</div>
                        </div>
                        <div ng-repeat="error in infusion.inferr">
                            <div layout = "row" layout-align="center center" layout-padding="">
                                <div flex="50" layout-align="center center">{{error.errtype}}</div>
                                <div flex="50" layout-align="center center">{{error.errtime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</md-content>
</div>

<div layout="row" layout-fill layout-align="center center" ng-if="pageloaded==false">
    <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
</div>




<!-- button for adding patient -->
<md-button  ng-click="showAddPatient($event)"  class="md-fab md-fab-bottom-right  md-button md-ink-ripple scrolling">
    <md-icon class="md-default-theme" class="material-icons">add</md-icon>
</md-button>


<div style="visibility: hidden">
  <div class="md-dialog-container" id="addPatient">
    <md-dialog layout-padding>
        <md-content layout-padding="">  
            <form name="patientForm" ng-submit='addPatient(data);'>
                <md-subheader class="md-no-sticky">Add Patient</md-subheader>
                  <div layout-padding>
                  <div layout="column" layout-fill layout-xs="column">
                    <div layout="row" layout-fill layout-xs="column">
                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Patient Name</label>
                            <md-icon class="md-default-theme" class="material-icons">&#xE87C;</md-icon>
                            <input ng-model="data.patientname" type="text" name="patientname" required>
                            <div ng-messages="patientForm.patientname.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">This field is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Bed</label>
                            <md-icon class="md-default-theme" class="material-icons">hotel</md-icon>
                            <md-select type="text" aria-label="filter" ng-model="data.bedname" name="bed" required>
                                <md-optgroup label="bed">
                                    <md-option ng-value="bed.bedname"  ng-repeat="bed in beds"> {{bed.bedname}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                      <div layout="row" layout-fill layout-xs="column">
                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Age</label>
                            <md-icon class="md-default-theme" class="material-icons">child_care</md-icon>
                            <input ng-model="data.patientage" type="number" name="patientage"  min="0">
                            <div ng-messages="patientForm.patientage.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">This field is required</div>
                                <div ng-message="min" class="my-message">Age can't be negative</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Weight</label>
                            <md-icon class="md-default-theme" class="material-icons">person_pin_circle</md-icon>
                            <input ng-model="data.patientweight" type="number" name="patientweight"  ng-min="0" min="0" ng-value="0">
                            <div ng-messages="patientForm.patientweight.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">This field is required</div>
                                <div ng-message="min" class="my-message">Weight can't be negative</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Gender</label>
                            <md-icon class="md-default-theme" class="material-icons">perm_identity</md-icon>
                            <md-select type="text" aria-label="gender" ng-model="data.gender" name="gender" required>
                                <md-optgroup label="gender">
                                    <md-option ng-value="gender"  ng-repeat="gender in genders"> {{gender}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        </div>
                        <md-input-container class="md-icon-float md-block" flex>
                            <label>Select Doctor</label>
                            <md-icon class="md-default-theme" class="material-icons">person</md-icon>
                            <md-select type="text" aria-label="filter" ng-model="data.doctorname" name="doctor" required>
                                <md-optgroup label="doctor">
                                    <md-option ng-value="null" ng-selected="true">Don't assign doctor</md-option>
                                    <md-option ng-value="doctor.userName"  ng-repeat="doctor in doctors"> {{doctor.userName}}</md-option>
                                </md-optgroup>
                            </md-select>
                            <div ng-messages="patientForm.doctor.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">This field is required</div>
                            </div>
                        </md-input-container>

                  </div>
                </div>
                <div layout="row" layout-fill layout-xs="column">
                    <md-button  ng-click="cancelAddPatient();"  class="md-raised md-warn">cancel</md-button>
                    <md-button type="submit" ng-disabled="patientForm.$invalid" class="md-raised md-accent">Submit</md-button>
                </div>
            </form>
        </md-content>
    </md-dialog>
  </div>
</div>









