
<md-content flex="100" layout="row" layout-align="center center">
	<md-card ng-hide="main.successMsg" flex="30" flex-xs="90" style="padding:2%">
		<form name="userForm" ng-submit='register.registerUser(userData);' layout="column">
			<md-input-container>
				<label>Hospital Name</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE548;</md-icon>
				<input ng-model="register.userData.hospitalName" type="text" name="hospitalName" class="validate" required>
				<md-tooltip md-direction="bottom">Enter hospital or company name</md-tooltip>
				<div ng-messages="userForm.hospitalName.$error" role="alert">
					<div ng-message="required">This field is required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Username</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE7FD;</md-icon>
				<input ng-model="register.userData.email" type="email" name="email" class="validate" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
				<md-tooltip md-direction="bottom">Use a valid email address</md-tooltip>
				<div ng-messages="userForm.email.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">This field is required</div>
					<div ng-message="pattern" class="my-message">Please enter valid email address</div>
				</div>
				<div ng-show="register.errorMsg" ng-messages="register.errorMsg" role="alert">
					<p>{{register.errorMsg}}</p>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
				<input ng-model="register.userData.password" type="password" name="password"  minlength="4" required>
				<md-tooltip md-direction="bottom">Use a strong password</md-tooltip>
				<div ng-messages="userForm.password.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">This field is required</div>
					<div ng-message="minlength" class="my-message">That's too short! </div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Confirm Password</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
				<input ng-model="register.userData.confirmPassword" type="password" name="confirmPassword" ng-pattern="{{register.userData.password}}" required>
				<div ng-messages="userForm.confirmPassword.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">This field is required</div>
					<div ng-message="pattern" class="my-message">Passwords not matched!</div>
				</div>
			</md-input-container>
			<div md-theme="altTheme" layout="row" ng-hide="register.loader">
				<md-button type="submit" class="md-raised md-warn" flex="100">Register</md-button>
			</div>
			<div layout="row" layout-align="center center" style="margin-top:20px">
				<p><a ng-href="/login" >Login</a></p>
			</div>
			<div md-theme="altTheme" layout="row" layout-align="center center" ng-show="register.loader">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</form>
	</md-card>
	<div class="show-hide-message" ng-show="register.successMsg">
		<div>{{register.successMsg}}</div>
		<div>Redirecting...</div>
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</md-content>
