<md-content flex="100" layout="row" layout-align="center center">
	<md-card ng-hide="resend.successMsg" flex="30" flex-xs="90" style="padding:2%">
		<form name="loginForm" ng-submit='resend.checkCredentials(loginData);' layout="column">
			<md-input-container>
				<label>Username</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE7FD;</md-icon>
				<input ng-model="resend.loginData.username" type="email" name="email" class="validate" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
				<md-tooltip md-direction="bottom">Enter Your registered email id</md-tooltip>
				<div ng-messages="loginForm.email.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">This field is required</div>
					<div ng-message="pattern" class="my-message">Please enter valid email address</div>
				</div>
				<div ng-show="resend.errorMsgNU" ng-messages="resend.errorMsgNU" role="alert">
					<p>{{resend.errorMsgNU}}</p>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
				<input ng-model="resend.loginData.password" name="password" type="password" required>
				<md-tooltip md-direction="bottom">Please enter your password</md-tooltip>
				<div ng-messages="loginForm.password.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">This field is required</div>
				</div>
				<div ng-show="resend.errorMsgWP" ng-messages="resend.errorMsgWP" role="alert">
					<p>{{resend.errorMsgWP}}</p>
				</div>
			</md-input-container>
			<div layout="row" md-theme="altTheme">
				<md-button type="submit" class="md-raised md-warn" ng-hide="resend.loader" flex="100">Resend Activation Link</md-button>
			</div>
			<div layout="row" layout-align="center center" ng-show="resend.loader"  md-theme="altTheme">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		 </form> 
	</md-card>
	<div class="show-hide-message" ng-show="resend.successMsg">
		<div>{{resend.successMsg}}</div>
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</md-content>