<md-content style="height:100%;background: #5f2c82;background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); background: linear-gradient(to right, #49a09d, #5f2c82);" flex="100" layout="column" layout-align="center center">
	<div ng-hide="passwordrst.successMsgp" style="padding:2%">
	    <form name="userForm" ng-hide="passwordrst.hide" ng-submit='passwordrst.savePassword(userData);' layout="column">
	        <md-input-container>
	            <label>New password</label>
	            <md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
	            <input ng-model="passwordrst.userData.password" type="password" name="password"  minlength="4" required>
	            <md-tooltip md-direction="bottom">Use a strong password</md-tooltip>
	            <div ng-messages="userForm.password.$error" role="alert" multiple>
	                <div ng-message="required" class="my-message">This field is required</div>
	                <div ng-message="minlength" class="my-message">That's too short! </div>
	            </div>
	        </md-input-container>
	        <md-input-container>
	            <label>Confirm password</label>
	            <md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
	            <input ng-model="passwordrst.userData.confirmPassword" type="password" name="confirmPassword" ng-pattern="{{passwordrst.userData.password}}" required>
	            <div ng-messages="userForm.confirmPassword.$error" role="alert" multiple>
	                <div ng-message="required" class="my-message">This field is required</div>
					<div ng-message="pattern" class="my-message">Passwords not matched!</div>
	            </div>
	        </md-input-container>
	        <div layout="row" md-theme="altTheme" layout-align="center center" ng-hide="password.loader">
	            <md-button type="submit" class="md-raised md-warn" FLEX="100">Submit</md-button>
	        </div>
	        <div layout="row" md-theme="altTheme" layout-align="center center" ng-show="password.loader">
	            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
	        </div>
	    </form>
	    <div class="show-hide-message" ng-messages="main.errorMsgNU" role="alert"  ng-show="passwordrst.errorMsg">
	      	<div>{{passwordrst.errorMsg}}</div>
	    </div>
	    <div class="show-hide-message"  ng-show="passwordrst.errorMsgsp" ng-messages="main.errorMsgNU" role="alert">
	      	<div>{{passwordrst.errorMsgsp}}</div>
	    </div>
	</div>
	<div class="show-hide-message"  ng-show="passwordrst.successMsgsp">
		<div>{{passwordrst.successMsgsp}}</div>
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</md-content>
