<!DOCTYPE html>
<html>
<head>
	<title>Evelabs Care</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div layout="column" layout-align="center center" layout-padding="" layout-fill>
	   <div layout="column" layout-fill layout-align="center center">
	      <form name="userForm" ng-submit='password.passwordUser(userData);'>
	         <div flex="none">
	            <md-input-container>
	               <label>New password</label>
	               <md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
	               <input ng-model="password.userData.password" type="password" name="password"  minlength="4" required>
	               <md-tooltip md-direction="bottom">Use a strong password</md-tooltip>
	               <div ng-messages="userForm.password.$error" role="alert" multiple>
	                    <div ng-message="required" class="my-message">This field is required</div>
	                    <div ng-message="minlength" class="my-message">That's too short! </div>
	                 </div>
	            </md-input-container>
	         </div>
	         <div flex="none">
	            <md-input-container>
	               <label>Confirm password</label>
	               <md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
	               <input ng-model="password.userData.confirmPassword" type="password" name="confirmPassword" ng-pattern="{{password.userData.password}}" required>
	               <div ng-messages="userForm.confirmPassword.$error" role="alert" multiple>
	                    <div ng-message="required" class="my-message">This field is required</div>
						<div ng-message="pattern" class="my-message">Passwords not matched!</div>
	                 </div>
	            </md-input-container>
	         </div>
	         <div layout="row" layout-align="center center" ng-hide="password.loader">
	            <div md-theme="altTheme">
	               <md-button type="submit" class="md-raised md-warn">Submit</md-button>
	            </div>
	         </div>
	         <div layout="row" layout-align="center center" ng-show="password.loader">
	            <div md-theme="altTheme">
	            	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	            </div>
	         </div>
	      </form>
	      <div class="show-hide-message"  ng-show="password.errorMsg">
	      	<div>{{password.errorMsg}}</div>
	      </div>
	      <div class="show-hide-message" ng-show="password.successMsg">
	      	<div>{{password.successMsg}}</div>
	      	<div>Redirecting...</div>
	      	<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	      </div>
	   </div>
	</div>

</body>
</html>