<div layout="column" layout-padding="" layout-fill>
	<md-content>
		<md-tabs md-selected="myTabIndex" md-dynamic-height md-border-bottom md-swipe-content="true">
		    <md-tab label="Ivsets" ng-click="reload();">
		    	<md-content>
		    	 	<div layout=row ng-hide="noivset">
		    	  		<md-input-container class="md-icon-float md-block" flex="50">
		    	  			<label>Search Ivset</label>
		    	  			<md-icon class="md-default-theme" class="material-icons">&#xE8B6;</md-icon>
		    	  			<input ng-model="ivsetSearch" type="text">
		    	  		</md-input-container>
		    	 	</div>
		    	 	<div ng-show="noivset" layout="row" layout-fill layout-align="center center">
		    	  		Add Station and Start Managing
		    	 	</div>
		    	 	<md-list>
		    	  		<md-list-item class="md-3-line" ng-repeat="ivset in ivsets | filter:ivsetSearch">
		    	  			<div class="md-list-item-text">
		    	  		    	<h3>{{ivset.ivsetname}}</h3>
		    	  		    	<h4>{{ivset.ivsetdpf}}</h4>
		    	  			</div>
		    	  			<md-button ng-click="manageIvset.showEditIvset(ivset);" class="md-primary">edit</md-button>
		    	  			<md-button ng-click="manageIvset.showConfirmdeleteIvset($event,ivset);" class="md-warn">Delete</md-button>
		    	  			<md-divider ng-if="!$last"></md-divider>
		    	  		</md-list-item>
		    		</md-list>
		   		</md-content>
		    </md-tab>
		    <md-tab label="Edit Ivset" ng-if="manageIvset.showOnEditIvset == true">
		        <md-content class="md-padding">
		          	<div layout="column">
		          		<md-content class="md-no-momentum">
		          			<form name="form.editIvset" ng-submit='manageIvset.editIvset(editivset);' ng-hide="manageIvset.editloader">
			          			<md-input-container class="md-icon-float md-block">
			          			    <label>Ivset Name</label>
			          			    <md-icon class="md-default-theme" class="material-icons">&#xE891;</md-icon>
			          			    <input ng-model="manageIvset.editivset.ivsetname" type="text" name="ivsetname"  required>
			          			    <div ng-messages="form.editIvset.ivsetname.$error" role="alert" multiple>
			          			      	<div ng-message="required" class="my-message">This field is required</div>
			          			    </div>
			          			</md-input-container>
			          			<md-input-container class="md-icon-float md-block">
			          			    <label>Ivset Drop Factor</label>
			          			    <md-icon class="md-default-theme" class="material-icons">&#xE91C;</md-icon>
			          			    <input ng-model="manageIvset.editivset.ivsetdpf" type="number" name="ivsetdpf"  required>
			          			    <div ng-messages="form.editIvset.ivsetdpf.$error" role="alert" multiple>
			          			      	<div ng-message="required" class="my-message">This field is required</div>
			          			    </div>
			          			</md-input-container>
								<div layout="row" md-theme="altTheme">
									<md-button type="submit" ng-disabled="form.editIvset.$invalid"  class="md-raised md-warn">Submit</md-button>
									<md-button type="dismiss" ng-click="manageIvset.cancel();" md-theme="default" class="md-raised md-warn">Cancel</md-button>
								</div>
							</form>
							<div layout="column" layout-fill layout-align="center center" ng-show="manageIvset.editloader">
								<div>{{manageIvset.editsuccessMsg}}</div>
								<md-progress-linear md-mode="indeterminate"></md-progress-linear>
							</div>
			          	</md-content>
		          	</div>
		        </md-content>
		    </md-tab> 
		    <md-tab label="Add Ivset" ng-if="manageIvset.showOnEditIvset == false">
		        <md-content class="md-padding">
		          	<div layout="column">
		          		<md-content class="md-no-momentum">
		          			<form name="form.addIvset" ng-submit='manageIvset.addIvset(ivsetData);' ng-hide="manageIvset.loader">
			          			<md-input-container class="md-icon-float md-block">
			          			    <label>Ivset Name</label>
			          			    <md-icon class="md-default-theme" class="material-icons">&#xE891;</md-icon>
			          			    <input ng-model="manageIvset.ivsetData.ivsetname" type="text" name="ivsetname"  required>
			          			    <div ng-messages="form.addIvset.ivsetname.$error" role="alert" multiple>
			          			      	<div ng-message="required" class="my-message">This field is required</div>
			          			    </div>
			          			</md-input-container>
			          			<md-input-container class="md-icon-float md-block">
			          			    <label>Ivset Drop Factor</label>
			          			    <md-icon class="md-default-theme" class="material-icons">&#xE91C;</md-icon>
			          			    <input ng-model="manageIvset.ivsetData.ivsetdpf" type="number" name="ivsetdpf"  required>
			          			    <div ng-messages="form.addIvset.ivsetdpf.$error" role="alert" multiple>
			          			      	<div ng-message="required" class="my-message">This field is required</div>
			          			    </div>
			          			</md-input-container>
								<div layout="row" md-theme="altTheme">
									<md-button ng-disabled="form.addIvset.$invalid"  type="submit" class="md-raised md-warn">Submit</md-button>
								</div>
							</form>
							<div layout="column" layout-fill layout-align="center center" ng-show="manageIvset.loader">
								<div>{{manageIvset.successMsg}}</div>
								<md-progress-linear md-mode="indeterminate"></md-progress-linear>
							</div>
			          	</md-content>
		          	</div>
		        </md-content>
		    </md-tab>
		</md-tabs>
	</md-content>
</div>
