<div layout="column" layout-padding="" layout-fill>
		<md-content>
		    <md-tabs md-selected="myTabIndex" md-dynamic-height md-border-bottom md-swipe-content="true">
		      	<md-tab label="User List">
		          	<md-content>
		          		<div layout=row>
		          			<md-input-container class="md-icon-float md-block" flex="50">
		          				<label>Select account Type</label>
		          				<md-icon class="md-default-theme" class="material-icons">&#xE152;</md-icon>
		          				<md-select type="text" aria-label="filter" ng-model="permission">
		          					<md-option value="" ng-selected="true">All accounts</md-option>
		          		    		<md-option value="doctor">Doctor accounts</md-option>
		          		    		<md-option value="nurse">Nurse accounts</md-option>
		          				</md-select>
		          			</md-input-container>
		          			<md-input-container class="md-icon-float md-block" flex="50">
		          				<label>Search User</label>
		          				<md-icon class="md-default-theme" class="material-icons">&#xE8B6;</md-icon>
		          				<input ng-model="userSearch" type="text">
		          			</md-input-container>
		          		</div>
		          		<md-list>
		          		  	<md-list-item class="md-3-line" ng-repeat="user in users | filter:{permission: permission} | filter:userSearch">
		          		      	<div class="md-list-item-text">
		          		        	<h3>{{user.userName}}</h3>
		          		        	<h4>{{user.permission}}</h4>
		          		      	</div>
		          		      	<md-button ng-click="manageUser.showEditUser(user);" class="md-primary">change password</md-button>
		          		      	<md-button ng-click="manageUser.showConfirmdeleteUser($event,user);" class="md-warn">Delete</md-button>
		          		      	<md-divider ng-if="!$last"></md-divider>
		          		    </md-list-item>
		          		  </md-list>
		        	</md-content>
		      	</md-tab>
		      	<md-tab label="Change Password" ng-if="manageUser.showOnEditUser == true">
		      		<md-content class="md-padding">
		      			<div layout="column">
		      				<md-content class="md-no-momentum">
		      					<form name="userForm" ng-submit='manageUser.editUser(edituser);'  ng-hide="manageUser.editloader">
									<md-input-container class="md-icon-float md-block">
						  				<label>Username</label>
						  				<md-icon class="md-default-theme" class="material-icons">&#xE7FD;</md-icon>
						  				<input  ng-model="manageUser.edituser.userName" type="text" name="username" disabled>
									</md-input-container>
									<md-input-container class="md-icon-float md-block">
									  	<label>Password</label>
						  				<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
						  				<input ng-model="manageUser.edituser.password" type="password" name="password" minlength="4" required>
						  				<div ng-messages="userForm.password.$error" role="alert" multiple>
						  	    			<div ng-message="required" class="my-message">This field is required</div>
						  	    			<div ng-message="minlength" class="my-message">That's too short! </div>
						  				</div>
									</md-input-container>
									<md-input-container class="md-icon-float md-block">
						  				<label>Confirm Password</label>
						  				<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
						  				<input ng-model="manageUser.edituser.confirmPassword" type="password" name="confirmPassword" ng-pattern="{{manageUser.edituser.password}}" required>
						  				<div ng-messages="userForm.confirmPassword.$error" role="alert" multiple>
						  	    			<div ng-message="required" class="my-message">This field is required</div>
						  					<div ng-message="pattern" class="my-message">Passwords not matched!</div>
						  				</div>									
									</md-input-container>
									<div layout="row" md-theme="altTheme">
						    			 <md-button type="submit" class="md-raised md-warn">Submit</md-button>
						    			 <md-button type="dismiss" ng-click="manageUser.cancel();" md-theme="default" class="md-raised md-warn">Cancel</md-button>
									</div>
								</form>
								<div layout="column" layout-fill layout-align="center center" ng-show="manageUser.editloader">
									<div>{{manageUser.editsuccessMsg}}</div>
									<md-progress-linear md-mode="indeterminate"></md-progress-linear>
								</div>
							</md-content>
						</div>
					</md-content>
		      	</md-tab>
		      	<md-tab label="Add User" ng-if="manageUser.showOnEditUser == false">
		        	<md-content class="md-padding">
		          		<div layout="column">
		          			<md-content class="md-no-momentum">
		          				<form name="userForm" ng-submit='manageUser.addUser(userData);'  ng-hide="manageUser.loader">
			          			    <md-input-container class="md-icon-float md-block">
			          			      	<label>Username</label>
			          			      	<md-icon class="md-default-theme" class="material-icons">&#xE7FD;</md-icon>
			          			      	<input ng-model="manageUser.userData.username" type="text" name="username" ng-pattern="/^[a-zA-Z0-9_-]*$/" required>
			          			      	<md-tooltip md-direction="bottom">Eg: doctor@{{main.hospitalname}}.care</md-tooltip>
			          			      	<div ng-messages="userForm.username.$error" role="alert" multiple>
			          			      	    <div ng-message="required" class="my-message">This field is required</div>
			          			      	    <div ng-message="pattern" class="my-message">Special characters are not allowed</div>
			          			      	</div>
			          			    </md-input-container>
									<md-input-container class="md-icon-float md-block">
									  	<label>Password</label>
									  	<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
									  	<input ng-model="manageUser.userData.password" type="password" name="password" minlength="4" required>
									  	<div ng-messages="userForm.password.$error" role="alert" multiple>
									  	    <div ng-message="required" class="my-message">This field is required</div>
									  	    <div ng-message="minlength" class="my-message">That's too short! </div>
									  	</div>
									</md-input-container>
									<md-input-container class="md-icon-float md-block">
									  	<label>Confirm Password</label>
									  	<md-icon class="md-default-theme" class="material-icons">&#xE0DA;</md-icon>
									  	<input ng-model="manageUser.userData.confirmPassword" type="password" name="confirmPassword" ng-pattern="{{manageUser.userData.password}}" required>
									  	<div ng-messages="userForm.confirmPassword.$error" role="alert" multiple>
									  	    <div ng-message="required" class="my-message">This field is required</div>
									  		<div ng-message="pattern" class="my-message">Passwords not matched!</div>
									  	</div>									
									</md-input-container>
									<md-input-container class="md-icon-float md-block">
									    <label>Account type</label>
									    <md-icon class="md-default-theme" class="material-icons">&#xE853;</md-icon>
									    <md-select name="type" type="text" ng-model="manageUser.userData.permission" md-no-asterisk  required>
									        <md-option value="doctor">doctor</md-option>
									        <md-option value="nurse">nurse</md-option>
									    </md-select>
									    <div ng-messages="userForm.type.$error" role="alert" multiple>
									        <div ng-message="required" class="my-message">This field is required</div>
									    </div>
									</md-input-container>
									<div layout="row">
									   <div md-theme="altTheme">
									      <md-button type="submit" class="md-raised md-warn">Submit</md-button>
									   </div>
									</div>
								</form>
								<div layout="column" layout-fill layout-align="center center" ng-show="manageUser.loader">
									<div>Form Submitted</div>
									<md-progress-linear md-mode="indeterminate"></md-progress-linear>
								</div>
			          		</md-content>
		          		</div>
		        	</md-content>
		      	</md-tab>
		</md-tabs>
		</md-content>
</div>
