<div layout="column" layout-padding="" layout-fill>
	<div class="md-title" style="clear:both;margin-top:2em;color:#818181;margin-bottom: 20px; padding-bottom:.5em;border-bottom: 1px dashed #CCCCCC">Update Server Code</div>
	<p>Do not update the software  with out consulting the software provider. Please check that all the devices are offline before updating the software</p>
	<div layout="row" >
	<md-button flex-xs=100 flex-gt-md="25" class="md-raised md-warn" ng-click="showConfirmUpdate();"  >
		UPDATE SERVER CODE
	</md-button>
</div>
	<div ng-show="updated">{{reply}}</div>
	<div ng-show="nochange">{{reply}}</div>
</div>